.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 500%;
    transform: translate(-50%, -50%);
    background-color: black;
    z-index: 10105;
    background-image: url(../../../assets/bg/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(12px);
    
  & span {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    margin: 20px;
    cursor:pointer;
    transition: all 0.3s ease;
    &:hover{
      color:#F00;
      transform: scale(0.97);
    }
  }
}
.container-custom-slider {
  max-width: 800px;
  width: 100%;
  height: 800px;
  margin: 50px auto;
  border: 2px solid #f4f4f7;
  overflow: hidden;
  position: relative;
}
.wrapper-custom-slider {
  width: 100%;
  height: 100%;
  transition: left .5s;
  display: flex;
  position: relative;
  left: -100%;
  top: 0;
}
.item-custom-slider {
  width: 100%;
  height: 100%;
  background-color: #c5c5c5;
  text-align: center;
  line-height: 100px;
  float: right;
  flex:  1 1 auto;
}
.item-custom-slider img {
  display: block;
  width: 795px;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.button-custom-slider {
  display: inline-block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: #ffffff;
  line-height: 25px;
  font-size: 50px;
  padding: 0%;
  background-color: rgba(10, 10, 10, 0.3);
  text-align: center;
  position: absolute;
  border: none;
  z-index: 99;
  transition: all 0.3s ease;
  cursor:pointer; 
  &:hover {
    color: rgb(233, 164, 164);
    transform: scale(0.99);
  }
  &:active {
    border: 1px solid #ffffff;
  }
}
.prev {
  left: 0%;
  top: 50%;
  z-index: 10;
}
.next {
  right: 0%;
  top: 50%;
  z-index: 10;
}